<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
	<google-map center='map.center' zoom='map.zoom' draggable="true">
		<layer namespace="visualization" type="HeatmapLayer" show="map.showHeat" onCreated="map.heatLayerCallback"></layer>
        <markers models="map.markers" coords="'self'" icon="'icon'" >
            <windows show="map.markers.showWindow">
				<p ng-non-bindable>Site location: {{ latitude | number:4 }}, {{ longitude | number:4 }}</p>		
				<p ng-non-bindable>Site ID: {{id}}</p>
                <p ng-non-bindable>Traffic Volume {{intensity}}</p>
            </windows>
        </markers>
	</google-map>
</div>
<div class="hidden-xs hidden-sm col-md-4 col-lg-4" ng-controller="HistoricalTabController">
	<div class="page-header">
		<h1>Traffic Volume Timeline</h1>
	</div>
    <form name="historicalForm" ng-submit="getHistorical()">
        <input type="text" name="historicalDatetime" ng-model="historicalDatetime" />
        <input type="submit" id="submit" value="Fetch Results" />
    </form>
    <accordion close-others="oneAtATime">
    	<accordion-group heading="{{group.title}}" ng-repeat="group in groups">
		<p>Crowd: {{group.info}}</p>
		<p>Match Date and Time:  {{group.content}}</p>
		<p>Dates available for comparison:</p>
		<tabset vertical="true" type="navType">
			<tab ng-repeat="tab in tabs | filter: group.type" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled" select="selectTab(group.type)"></tab>
		</tabset>
    	</accordion-group>
  </accordion>
</div>

